
/*@import url("font/iconfont.css");*/
@import url("//at.alicdn.com/t/font_425418_9zpzxej1yi.css");

/*å¡ç‰‡åˆ—è¡¨*/
.list-block{
  margin-bottom: 20px;
  margin-right: 15px;
}
.list-block .list-title{
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebecec;
  font-size: 20px;
  font-weight: bold;
}
.list-title>.iconfont{
  color: #009688;
  font-size: 20px;
  padding-left: 10px;
}
.card-container {
  margin-right: 15px;
  padding: 12px;
  border: 1px solid #c5d8db;
  transition: all .5s cubic-bezier(.4,0,.2,1);
}
.card-container:hover{
  border-color: #009688;
  /*transform: scaleY(1.08);*/
}
.list-block ul li{
  padding-bottom: 5px;
}
.list-block .card-iconfont{
  width: 25%;
}
.list-block .card-title-block{
  width: 72%;
}
.list-block .card-title-block .card-group{
  float: right;
}


.card-header .card-iconfont,
.card-header .card-media,
.card-header .card-title-block{
  display: inline-block;
}
.card-iconfont .iconfont{
  font-size: 45px;
  color: #009688;
  margin-right: 5px;
}
.card-media + .card-title-block{
  padding-left: 20px;
}
.card-header .card-title{
  margin-bottom: 5px;
  font-size: 16px;
}
.card-header img{
  width: 100%;
}
.card-collect .iconfont{
  font-size: 20px;
  padding-right: 5px;
  font-weight: 700;
}
.card-collect:hover{
  color: #009688;
  font-weight:bold;
  font-weight:800;
}
.card-container .card-content{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0;
  color: #999;
}

.card-footer{
  font-size: 0;
}
.card-footer .footer-link,
.card-footer .footer-text{
  display: inline-block;
  font-size: 14px;
}
.card-footer .footer-link{
  width: 70%;
}
.card-footer .footer-text{
  width: 30%;
  text-align: right;
}

.sitemap ul{padding:0px !important;}
.sitemap ul li{float:left;padding-left: 10px;list-style-type:none;}