/*å…¬å…±çš„æ ·å¼åˆ—è¡¨*/
.pl0{padding-left:0px!important;}
.pl5{padding-left: 5px!important;}
.pl10{padding-left: 10px!important;}
.pl15{padding-left: 15px!important;}
.pl20{padding-left: 20px!important;}
.pl40{padding-left: 40px!important;}
.pl50{padding-left: 40px!important;}
.pl80{padding-left: 80px!important;}
.pl100{padding-left: 100px!important;}
.pl120{padding-left: 120px!important;}
.pl150{padding-left: 150px!important;}
.pl200{padding-left: 200px!important;}
.pr0{padding-right: 0px!important;}
.pr2{padding-right: 2px!important;}
.pr3{padding-right: 3px!important;}
.pr5{padding-right: 5px!important;}
.pr10{padding-right: 10px!important;}
.pr15{padding-right: 15px!important;}
.pr20{padding-right: 20px!important;}
.pr40{padding-right: 40px!important;}
.pr80{padding-right: 80px!important;}
.pr100{padding-right: 100px!important;}
.pr120{padding-right: 120px!important;}
.pr150{padding-right: 150px!important;}
.pr200{padding-right: 200px !important;}
.pt0{  padding-top: 0px!important;}
.pt2{  padding-top: 2px!important;}
.pt5{  padding-top: 5px!important;}
.pt10{padding-top: 10px!important;}
.pt15{padding-top: 15px!important;}
.pt20{padding-top: 20px!important;}
.pt25{padding-top: 25px!important;}
.pt30{padding-top: 30px!important;}
.pt40{padding-top: 40px!important;}
.pt50{padding-top: 50px!important;}
.pt80{padding-top: 80px!important;}
.pt100{padding-top: 100px!important;}
.pt120{padding-top: 120px!important;}
.pt150{padding-top: 150px!important;}
.pt200{padding-top: 200px!important;}
.pb0{  padding-bottom: 0px!important;}
.pb5{  padding-bottom: 5px!important;}
.pb10{padding-bottom: 10px!important;}
.pb15{padding-bottom: 15px!important;}
.pb20{padding-bottom: 20px!important;}
.pb40{padding-bottom: 40px!important;}
.pb80{padding-bottom: 80px!important;}
.pb100{padding-bottom: 100px!important;}
.pb120{padding-bottom: 120px!important;}
.pb150{padding-bottom: 150px!important;}
.pb200{padding-bottom: 200px!important;}
.p0{  padding:0px!important;}
.p5{  padding: 5px!important;}
.p10{padding: 10px!important;}
.p15{padding: 15px!important;}
.p20{padding: 20px!important;}

.h100{height: 100px;}
.h200{height: 200px!important;}
.h250{height: 250px;}
.h300{height: 300px;}
.h400{height: 400px;}
.h440{height: 440px!important;}

.m0{margin:0px !important;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml0{margin-left:0;}
.ml5{margin-left:5px !important;}
.mr0{margin-right:0 !important;}
.mt0{margin-top: 0px !important;}
.mt15{margin-top: 15px !important;}
.mt60{margin-top: 60px !important;}
.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px !important;}
.p0{padding: 0px !important;}
.p2{padding: 2px}
.p5{padding: 5px}
/**å®½åº¦*/
.w99{width: 99% !important;}
.w100{width: 100%}
.w100-{width: 100% !important;}
/***/
.fr{float: right !important;}
.fl{float: left !important;}

.w50{width: 50px  !important;}
.w60{width: 60px  !important;}
.w65{width: 65px  !important;}
.w70{width: 70px  !important;}
.w85{width: 85px  !important;}
.w90{width: 90px  !important;}
.w100{width: 100px  !important;}
.w110{width: 110px  !important;}
.w120{width: 120px  !important;}
.w130{width: 130px  !important;}
.w140{width: 140px  !important;}
.w150{width: 150px  !important;}
.w160{width: 160px  !important;}
.w170{width: 170px  !important;}
.w180{width: 180px  !important;}
.w195{width: 195px  !important;}
.w200{width: 200px  !important;}
.w250{width: 250px  !important;}
.w300{width: 300px  !important;}
.w350{width: 350px  !important;}
.w450{width: 450px  !important;}
.w750{width: 750px  !important;}

.l0{left: 0 !important;}
.l10{left: 10px !important;}

.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.inline{display: inline}
.inline-b{display: inline-block}

.green{color: #009688 !important;}
.blue{color: #01AAED !important;}
.grey {color: #999;}
.bk-blue{background-color: #1E9FFF !important;}

.yellow{color:#FF5722 !important;}
button.selected::after {
    content: " âœ”";
}
button.selected{
    background-color:#1E9FFF !important;
}

.border0{border-radius:0px !important;}
.star-ul>li{width: 80px !important;color:#009688}
.star-ul>li>a{text-decoration:none !important;}
/*ç®€å•çš„åˆ—è¡¨æ ·å¼*/
.simple-list{
  margin: 10px 0;
}
.simple-list .title{
  position: relative;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border-bottom-width: 0px !important;
  border: 1px solid #ebecec;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
}
.simple-list>.layui-text a{overflow: inherit;}
.simple-list .content{
  padding: 15px 12px;
  border: 1px solid #ebecec;
}
.simple-list li{
  padding: 4px 0;
}
.simple-list a{
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .3s;
}
.simple-list a:hover{
  color: #009688;
}

.search_title{font-size: 18px;font-weight: 500;}
[search_box] p{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px solid rgb(229, 229, 229); margin-bottom: 5px; padding-bottom: 5px;}










/*é“¾æŽ¥hoverçš„æ—¶å€™ï¼Œåº•éƒ¨å‡ºçŽ°å‘ä¸¤è¾¹å»¶ä¼¸çš„ä¸‹åˆ’çº¿*/
.link-entry{
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-right: 16px;
}

.link-entry:hover{
  color: #00c1de;
}

.link-entry::after{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 2px;
  background-color: #00c1de;
  visibility: hidden;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}

.link-entry:hover::after,
.link-entry:active::after{
  visibility: visible;
  transform: scaleX(1);
}
/*åŽ»æŽ‰å¤šä½™çš„è¾¹æ¡†*/
.layui-layer-rim {
  border: 1px solid #47a29a !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.layui-text h3 em{
  font-size: 14px;
  color: #bbb;
  padding-right: 5px;
  font-style: normal;
}
em{font-style:normal;}
.search_title >em{color: red!important;padding: 0px!important;}
.atag{border: 1px solid #e2e2e2;padding: 2px 5px 2px 5px;}

legend>h1{
  font-size: 20px !important;
}
legend>h2{
    font-size: 20px !important;
}
legend>*{
    color: #666;
}/**èœå•åˆ†å‰²çº¿**/
dl>fieldset{
    margin-top: 0px !important;
    margin-bottom: 0px !important;;
}
.layui-text h1, .layui-text h2, .layui-text h3 {
    color: #666 !important;
}
.layui-text h3{
    border-left: 2px solid #e3e5ea;
    line-height: 28px;
    height: 28px;
    padding: 0 0 0 10px;

}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
textarea{resize: none !important;}

/**footer**/

.footer-block{
  /*background: url(//cdn.yinshua86.com/ui/images/foot.bj.png) repeat-x ;*/
  background: url(//puep.qpic.cn/coral/Q3auHgzwzM4fgQ41VTF2rMBOibU8vNqCdIGHicuMNH2AP7nbuohcfVLA/0) repeat-x ;
  height: 245px;
  -webkit-animation-name: wave;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.18, 1.51);
  -webkit-animation-iteration-count: infinite;
}

/*==åŠ¨ç”»==æ°´æ³¢==*/
@-webkit-keyframes wave {
  0% {
    -webkit-transform:translate(0, 0px);
  }
  50% {
    -webkit-transform:translate(0px, 8px);
  }
  100% {
    -webkit-transform:translate(0px, 0);

  }
}


.right-menu-container{
    width: 280px;
    position: relative;
    float: right;
}
.right-menu-container .user-action-statistic{
    font-size: 0;
    padding-top: 15px;
}
.user-action-statistic li{
    display: inline-block;
    font-size: 14px;
    width: 25%;
    text-align: center;
}
.column li{
    width: 32% ;
}

.small, small {
    font-size: 85%;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    line-height: 1;
    color: #777;
    padding-left: 5px;
}

h1.title-h1{
    margin-bottom: 20px;
    line-height: 30px;
    padding-bottom: 10px;
    color: #393D49;
    font-size: 25px;
    font-weight: 300;
}
a.checked{
    color: #009688;
}
.layui-nav-item.active{  }
.layui-nav-item.active>a{color: #ffffff;  background-color: #31a59a;}
.collect-jia{float: right;margin-right: 20px;}
.collect-jia i{font-size: 40px;color:#009688;font-weight: 100;}


/** json **/
textarea{resize:both}
.linedwrap{border:1px solid #c0c0c0;padding:3px;display:inline-block}
.linedtextarea{padding:0px;margin:0px}
.linedtextarea textarea,.linedwrap .codelines .lineno{font-size:15px !important;font-family:monospace !important;line-height:normal !important;height:20px !important}
.linedtextarea textarea{padding-right:0.3em;padding-top:0.3em;border:0}
.linedwrap .lines{margin-top:0px;width:50px;float:left;overflow:hidden;border-right:1px solid #c0c0c0;margin-right:10px}
.linedwrap .codelines{padding-top:5px}
.linedwrap .codelines .lineno{color:#AAAAAA;padding-right:0.5em;padding-top:0.0em;text-align:right;white-space:nowrap}
.linedwrap .codelines .lineselect{color:red}
.json_input{border:none;height:300px;margin:0;padding:0 !important;width:100%;font-size:15px;line-height:20px;margin-top:5px !important}
.redBorder{border:1px solid red}
.success{background:none repeat scroll 0 0 rgb(230,239,194);border-color:rgb(198,216,128);color:rgb(82,146,20);padding:10px}
pre.error{background:rgb(251,227,228) none repeat scroll 0 0;border-color:rgb(251,194,196);color:rgb(209,47,25);padding:10px}
#results{width:100%}
div.grippie{background:#EEEEEE url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAFCAMAAACD1meMAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURbu7u////3iwjPUAAAACdFJOU/8A5bcwSgAAABRJREFUeNpiYMADGHEDBhroAwgwAA9QADeT0qnSAAAAAElFTkSuQmCC) no-repeat scroll center 4px;border-color:#DDDDDD;border-style:solid;border-width:0pt 1px 1px;cursor:row-resize;height:15px;overflow:hidden;margin-bottom:10px}


blockquote a[href^='http'],.site-content a[href^='http'],.site-text  a[href^='http']{
    padding: 0 2px;
    color: #01AAED !important;
}
blockquote p{
    padding-top: 5px;
}



/**AD**/
div[af-ad-top]{max-width: 300px;}
