@media screen and (max-width:640px) {
    .layout-header ins,.banner-container +.google-auto-placed, .layout>.google-auto-placed, div.layui-form + .google-auto-placed,.category-menu ~  .google-auto-placed,.category-menu +  .google-auto-placed,.layui-fixbar~.google-auto-placed{
        display: block !important;
    }
    .layui-col-md5{
        display: inline-block;
        width: 100%;
    }



    body.site-mobile{
        overflow: hidden;
    }
    .footer-block{
        height: 200px;
    }
    .footer-right,.footer-left p {
        display: none;


    }
    .footer-block .footer-certification a{
        display: inline-block;
    }
    #so_box,.layout >.layout-container{
        padding: 5px;
    }
    .layui-fixbar{
        bottom:80px;
    }
    [lay-type="bar3"]{display: none!important;}

    .mobile-box{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 99999;
        top: 0;
    }
    .mobile-box-menu{
        top: 55px;
    }
    .mobile-box .layui-container{
        border-bottom: 1px solid #c5d8db;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.1)
    }
    .mobile-box-menu-sys{
        display: block !important;
    }
    .mobile-box-menu-sys ul.layui-tree li a{
        height: 32px;
        width: 100%;
        display: block;
        border-left: 2px solid #a5b1b0;
    }

    .layout .layout-container{
        top:55px;
    }
    .m-user{
        height: 35px;
        text-align: center;
        display: inline-block;
        padding: 0;
    }
    .m-user img {
        width: 35px;
        height: 35px;
        border: 1px solid #01AAED;
        border-radius: 50%;
        display: inline-block;
    }
    .m-user .m_avatar {
        width: 45px;
    }

    .m-user li.m_logout{
        width: 65px!important;
        border: 1px solid #01AAED;
        border-radius: 10px;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        margin-left: 10px;
    }


    .card-container{
        margin-right:0px;
    }
    .list-block .list-title{
        padding: 10px 15px 10px 15px;
    }
    .list-block .layui-row {
        padding: 0 15px 0 15px;
    }
    .site-tree-mobile-btn{
        float: left;position: absolute;top: 10px;margin-left: 3px;padding:0 8px;border:1px solid #fff;color: #fff;background-color: #009688;
    }
    .header-fixed,.banner-container,.layout-header>.pchead  {display: none !important;}
    .layout{    padding-top: 0 !important; }
    .mobileâ€”head{display: block!important;}

    .mobileâ€”head h1{color:white}

    .site-text p[outTab]{
        text-align: center;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 5px 5px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        -webkit-appearance: button;
        cursor: pointer;
        text-transform: none;
        overflow: visible;

    }
    .min-logo {
        /*margin-top: 5px;*/
        margin-bottom: 5px;
        font-size: 25px;
        text-align: center;
        display: block !important;
    }
    .min-logo a{
        color: white;
        padding-left: 15px;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 4px;
        border-radius: 1px;
        margin-top: 4px;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }


    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-header {
        margin-right: 0;
        margin-left: 0;
        line-height: 55px;
    }

    .navbar-inverse {
        background-color: #009688;
        background-repeat: repeat-x;
        color: #ffffff;
        text-decoration: none;
        z-index: 101;height: 55px;border-radius: 0;background-image: none;
    }

    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }
}
    @media screen and (max-width: 750px){
        .site-mobile .site-tree {
            left: 0;
        }

        .site-tree {
            position: fixed;
            top: 0;
            bottom: 0;
            min-height: 0;
            overflow: auto;
            z-index: 1000;
            left: -260px;
            background-color: #fff;
            transition: all .3s;
            -webkit-transition: all .3s;
        }
        .site-tree {
            border-right: 1px solid #eee;
        }
        .site-tree {
            width: 220px;
            /*min-height: 900px;*/
            padding: 5px 0 20px;
        }
        .site-mobile .site-mobile-shade {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.8);
            z-index: 999;
        }
        .site-mobile  .site-tree-mobile{
            display: none !important;
        }
        /*æ¯èœå•*/
        .fly-column {
            height: auto;
            line-height: 50px;
        }
        .fly-panel {
            margin-bottom: 15px;
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        }
        .fly-column ul {
            padding: 10px;
            font-size: 0;
        }
        .fly-column ul li {
            position: relative;
            display: inline-block;
            height: 50px;
        }
        .fly-column ul li {
            float: left;
            width: 33.33%;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            vertical-align: middle;
            text-align: center;
            box-sizing: border-box;
        }


        .m-hide{
            display: none !important;
        }
        .site-text .layui-text{
            padding: 0 15px 0 15px !important;
        }




        .m-ml0{
            margin-left:0px!important;
        }

        .m-mt10{
            margin-top: 10px!important;
        }



        .m-pt10 { padding-top: 10px!important;}
        .m-pt5 { padding-top: 5px!important;}
        .m-h340{height: 340px!important;}
        .m-h370{height: 370px!important;}




        .m-bi{display: inline-block!important;}


        .m-pl0{padding-left:0px!important;}
        .m-pl5{padding-left: 5px!important;}
        .m-pl10{padding-left: 10px!important;}
        .m-pl15{padding-left: 15px!important;}
        .m-pl20{padding-left: 20px!important;}
        .m-pl40{padding-left: 40px!important;}
        .m-pl50{padding-left: 40px!important;}
        .m-pl80{padding-left: 80px!important;}
        .m-pl100{padding-left: 100px!important;}
        .m-pl120{padding-left: 120px!important;}
        .m-pl150{padding-left: 150px!important;}
        .m-pl200{padding-left: 200px!important;}
        .m-pr0{padding-right: 0px!important;}
        .m-pr2{padding-right: 2px!important;}
        .m-pr3{padding-right: 3px!important;}
        .m-pr5{padding-right: 5px!important;}
        .m-pr10{padding-right: 10px!important;}
        .m-pr15{padding-right: 15px!important;}
        .m-pr20{padding-right: 20px!important;}
        .m-pr40{padding-right: 40px!important;}
        .m-pr80{padding-right: 80px!important;}
        .m-pr100{padding-right: 100px!important;}
        .m-pr120{padding-right: 120px!important;}
        .m-pr150{padding-right: 150px!important;}
        .m-pr200{padding-right: 200px !important;}
        .m-pt0{  padding-top: 0px!important;}
        .m-pt2{  padding-top: 2px!important;}
        .m-pt5{  padding-top: 5px!important;}
        .m-pt10{padding-top: 10px!important;}
        .m-pt15{padding-top: 15px!important;}
        .m-pt20{padding-top: 20px!important;}
        .m-pt25{padding-top: 25px!important;}
        .m-pt30{padding-top: 30px!important;}
        .m-pt40{padding-top: 40px!important;}
        .m-pt50{padding-top: 50px!important;}
        .m-pt80{padding-top: 80px!important;}
        .m-pt100{padding-top: 100px!important;}
        .m-pt120{padding-top: 120px!important;}
        .m-pt150{padding-top: 150px!important;}
        .m-pt200{padding-top: 200px!important;}
        .m-pb0{  padding-bottom: 0px!important;}
        .m-pb5{  padding-bottom: 5px!important;}
        .m-pb10{padding-bottom: 10px!important;}
        .m-pb15{padding-bottom: 15px!important;}
        .m-pb20{padding-bottom: 20px!important;}
        .m-pb40{padding-bottom: 40px!important;}
        .m-pb80{padding-bottom: 80px!important;}
        .m-pb100{padding-bottom: 100px!important;}
        .m-pb120{padding-bottom: 120px!important;}
        .m-pb150{padding-bottom: 150px!important;}
        .m-pb200{padding-bottom: 200px!important;}
        .m-p0{  padding:0px!important;}
        .m-p5{  padding: 5px!important;}
        .m-p10{padding: 10px!important;}
        .m-p15{padding: 15px!important;}
        .m-p20{padding: 20px!important;}

        .m-h100{height: 100px !important;}
        .m-h200{height: 200px!important;}
        .m-h250{height: 250px !important;}
        .m-h300{height: 300px !important;}
        .m-h400{height: 400px !important;}
        .m-h440{height: 440px!important;}

        .m-m0{margin:0px !important;}
        .m-ml10{margin-left:10px;}
        .m-ml15{margin-left:15px;}
        .m-ml20{margin-left:20px;}
        .m-ml25{margin-left:25px;}
        .m-ml0{margin-left:0;}
        .m-ml5{margin-left:5px !important;}
        .m-mr0{margin-right:0 !important;}
        .m-mt0{margin-top: 0px !important;}
        .m-mt15{margin-top: 15px !important;}
        .m-mt60{margin-top: 60px !important;}
        .m-mb0{margin-bottom: 0px !important;}
        .m-mb5{margin-bottom: 5px !important;}
        .m-p0{padding: 0px !important;}
        .m-p2{padding: 2px}
        .m-p5{padding: 5px}
        /**å®½åº¦*/
        .m-w99{width: 99% !important;}
        .m-w100{width: 100%}
        .m-w100-{width: 100% !important;}
        /***/
        .m-fr{float: right !important;}
        .m-fl{float: left !important;}

        .m-w50{width: 50px  !important;}
        .m-w60{width: 60px  !important;}
        .m-w65{width: 65px  !important;}
        .m-w70{width: 70px  !important;}
        .m-w85{width: 85px  !important;}
        .m-w90{width: 90px  !important;}
        .m-w100{width: 100px  !important;}
        .m-w110{width: 110px  !important;}
        .m-w120{width: 120px  !important;}
        .m-w130{width: 130px  !important;}
        .m-w140{width: 140px  !important;}
        .m-w150{width: 150px  !important;}
        .m-w160{width: 160px  !important;}
        .m-w170{width: 170px  !important;}
        .m-w180{width: 180px  !important;}
        .m-w195{width: 195px  !important;}
        .m-w200{width: 200px  !important;}
        .m-w250{width: 250px  !important;}
        .m-w300{width: 300px  !important;}
        .m-w350{width: 350px  !important;}
        .m-w450{width: 450px  !important;}
        .m-w750{width: 750px  !important;}




    }

