/*PCä¸‹å¤´éƒ¨ä¸è®©æ˜¾ç¤º Googleè‡ªåŠ¨å¹¿å‘Šï¼Œå½±å“ç¾Žè§‚*/
.layout-header ins,.banner-container +.google-auto-placed, .layout>.google-auto-placed, div.layui-form + .google-auto-placed,.category-menu ~  .google-auto-placed,.category-menu +  .google-auto-placed,.layui-fixbar~.google-auto-placed{
    display:none !important;
}
@media screen and (max-width:1024px) {
    /*å¤´ä¿¡æ¯ï¼Œèœå•æ éƒ½éšè—*/
    /*.layout-header,header{display: none !important;}*/
    /*.layout{padding-top :0px !important;}*/
}
@media screen and (min-width:1024px) {
    .layout-container, .header-container,
    .banner-container, .footer-container, .nav-container{
        width: 1190px;
    }
    ._logo{width: 350px;}
    ._left_ad{width: 415px;}
    ._right_ad{width: 415px; margin-left: 10px;}
    .layui-nav .layui-nav-item a {
        padding: 0 15px !important;
    }
   

}
@media screen and (max-width:1024px) {
    
    .site-content{width: 610px !important;}

}
@media screen and (min-width:1300px) {
    .layout-container, .header-container,
    .banner-container, .footer-container, .nav-container{
        width: 1200px;
    }
    ._logo{width: 350px;}
    ._left_ad{width: 415px;}
    ._right_ad{width: 415px; margin-left: 10px;}
    .layui-nav .layui-nav-item a {
        padding: 0 15px !important;
    }
     
}
@media screen and (min-width: 1500px) {
    .layout-container, .header-container,
    .banner-container, .footer-container, .nav-container{
        width: 1350px;
    }
    ._logo{width: 510px;}
    ._left_ad{width: 415px;}
    ._right_ad{width: 415px; margin-left: 10px;}
}
.max-1500{}
@media screen and (max-width: 1000px) {
    /*.max-1500{display: none !important;}*/
    div.layui-row >div.site-content{width: 100% !important;}
    div.layui-row >div.blog-right{width: 100% !important;}
    div.auto-box{display: none !important;}
    .footer-block p{padding: 10px;}
    .fly-list-one dd a{max-width:90%}
    div.left-ad > div.single-text{display: none !important;}

}

@media screen and (max-width: 1500px) {
    /*.max-1500{display: none !important;}*/
    .site-content{width: 650px !important;}
    .site-content.layui-inline{width: 620px !important;}
    .blog-right{width:510px !important;}
    .single-text{width:300px !important;}
}
@media screen and (max-width: 1300px) {
    .site-content{width: 610px !important;}
    .site-content.layui-inline{width: 600px !important;}
    .blog-right{width:510px !important;}
    .single-text{width:300px !important;}
}

.mobile-box{display: none}

.layout{
    height: 100%;
    width: 100%;
    padding-top: 35px;
}
.layout .layout-container{
    margin: 15px auto;
    position: relative;
    overflow: hidden;
}
.layout-header .layui-nav-item{
    line-height: 40px;
}
.layout-header .layui-nav-more{
    top: 18px;
}
.layout-header .layui-nav-mored{
    top: 12px;
}

.layout-header .layui-nav-child{
    top: 45px;
}
.layout-header .layui-nav-child.max-two {
    width: 320px;
}
.layout-header .layui-nav-child.max-two dd {
    float: left;
    width: 50%;
}
.layout-header .layui-nav-child.max-three {
    width: 480px;
}
.layout-header .layui-nav-child.max-three dd {
    float: left;
    width: 33.3333333%;
}
.mobile-box-menu-sys{
    display: none !important;
}

